/* Genel stiller */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Header stilleri */
.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Ana içerik stilleri */
.caravan-list {
  padding: 50px 0;
}

.caravan-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caravan {
  width: 300px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.caravan img {
  width: 100%;
}

.caravan-details {
  padding: 20px;
}

.caravan-details h3 {
  margin: 0;
  font-size: 1.2em;
}

.caravan-details ul {
  margin: 10px 0 20px 0;
  padding: 0;
  list-style: none;
}

.caravan-details ul li {
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #555;
}
